.personaje-card {
    width: 300px; 
    margin: 10px auto; 
    border: 2px solid #1a1a1a; 
    background-color: #252525; 
    color: #fff; 
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.3); 
    transition: transform 0.3s ease-in-out; 
  }
  
  .personaje-card:hover {
    transform: scale(1.05); 
  }
  
  .personaje-img {
    object-fit: cover; 
    height: 700px; 
    border-bottom: 2px solid #0f0; 
  }
  
  .descripcion {
    text-align: justify; 
    padding: 10px;
  }
  